@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("./assets/image/bg.jpg") center;
}

.pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneyList {
    list-style: none;
    width: 100%;
    padding: 40px;
}

.moneyListItem {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
    border: 3px solid goldenrod;
}

.moneyListItem.active {
    background-color: teal;
    border-color: gold;
}

.moneyListItemNumber {
    font-size: 18px;
    font-weight: 100;
    width: 30%;
}

.moneyListItemAmount {
    font-size: 20px;
    font-weight: 300;

}

.top {
    height: 40%;
    position: relative;
}

.timer {
    /* position: relative; */
    position: absolute;
    top: 80%;
    left: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(2, 2, 48, 0.9);
    border: 3px solid gold;
    font-size: 2rem;
}

.bottom {
    height: 60%;
}

.trivia {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.question {
    /* background-color: red; */
    width: 82%;
    text-align: center;
    padding: 20px;
    background: linear-gradient(#020230, black);;
    font-size: 1.8rem;
    border-radius: 50px;
    border: 3px solid gold;
}

.options {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.option {
    width: 40%;
    padding: 20px;
    background-color: rgba(2, 2, 48, 0.9);
    font-size: 1.2rem;
    border-radius: 50px;
    border: 3px solid gold;
}
.option:hover,.option.active{
    cursor: pointer;
    border-color: goldenrod;
    background: rgba(0, 0, 205, 0.8);
}
.option.correct{
    animation: correct 4s ease forwards;
}
.option.wrong{
    animation: wrong 3s ease forwards;
}
@keyframes correct {
    0%,25%,45%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#020230, black);
    }
    65%,100%{
        background-color: green;
    }
}
@keyframes wrong {
    0%,25%,45%{
        background: mediumblue;
    }
    20%,40%,60%{
        background: linear-gradient(#020230, black);
    }
    65%,100%{
        background-color: red;
    }
}
.endTask{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}